<!DOCTYPE html>
<html lang="nl">

<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Overzicht</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/js/router.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns" defer></script>
</head>

<body>
    <%- include('parts/lang') %>
        <main></main>
    <%- include('parts/footer') %>
</body>

</html>