/* Algemene basis */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    max-width: 100dvw;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
}

body {
    font-family: Red Hat Display, sans-serif;
    color: #333;
    background-color: #f5f5f5;
    position: absolute;
    background-image: url('/images/natuur.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 100%;
    z-index: -1;
}

.pin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    gap: 30dvh;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.pin-container img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.pin-container input {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.buttons-container {
    width: 95%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttonrow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    width: 100%;
}

h1 {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

button {
    font-size: 1.2rem;
    min-height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7734e2;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Red Hat Display', sans-serif;
}

main {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100dvh;
    padding-top: 20px;
    display: none;
}